{% extends 'base.html.twig' %}


{% block title %}Products{% endblock %}

{% block body %}

    <h2>Product</h2>
        <ul class="product">
            <li>{{ product.productName }}</li>
            <li>{{ product.description }}</li>
            <li>{{ product.price }}</li>
        </ul>
        <a href="{{ path('allProducts', {'mainId' : product.category.id}) }}">Back</a>

    <a href="{{ path('entry') }}">Home</a>

{% endblock %}
